



.html-button {
  left: 50px;
}



.html-div {
  width: 50%;
  height: 30px;
  border-width: 1px;
  border-style: dotted;
}



.html-img {
  width: 100px;
  height: 100px;
}















.html-label {
  display: inline-block;
}





































.jqx-jqxMenu {
  overflow: auto;
}































.depui-scatter {
  width: 840px;
  height: 420px;
}